<form action="/users" method="post" accept-charset="UTF-8">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <label for="username">USERNAME</label>
    <input type="text" id="username" name="user[username]">
    <label for="email">EMAIL</label>
    <input type="email" name="user[email]" id="email">
    <label for="password">PASSWORD</label>
    <input type="password" name="user[password]" id="password">
    <button type="submit">CREATE ACCOUNT</button>
</form>

<%= form_tag('/users', method: 'post') do %>
    <%= label_tag(:username, 'USERNAME')%>
    <%= text_field_tag(:username)%>
    <%= label_tag(:email, 'EMAIL')%>
    <%= text_field_tag(:email)%>
    <%= label_tag(:password, 'PASSWORD')%>
    <%= password_field_tag(:password)%>
    <%= submit_tag('CREATE ACCOUNT')%>
<% end %>